:root {
	--fontBase_family: monospace;
	--fontBase_size: 24;
	--phone: 600;
	--tablet: 1000;
	background: transparent;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
	font-family: monospace;
	font-size: 24px;
	--varName: 'body';
}

.type-body {
	font-family: monospace;
	font-size: 24px;
}

.type-h1 {
	color: darkgreen;
}

.type-h2 {
	color: blue;
}

h1 {
	color: darkgreen;
	--varName: 'h1';

	@media (min-width: 601px) and (max-width: 1000px) {
		color: orange !important;
	}
}

*:target {
	outline: 1px solid red;
}
