[is='l-modalcontainer'] {
	align-items: center;
	background: transparent;
	border: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	max-height: none;
	max-width: none;
	padding: 0;
	width: 100%;

	&::backdrop {
		backdrop-filter: blur(5px);
		background: #000000b0;
	}

	&,
	&::backdrop {
		opacity: 0;
		transition: opacity var(--modalContainerDuration) linear;
	}

	&[data-transition-state='inactive'] {
		display: none;
	}

	&[data-transition-state='activating'],
	&[data-transition-state='active'] {

		&,
		&::backdrop {
			opacity: 1;
		}
	}
}

[is='l-nav'] {
	color: #444444;
}
