[is='l-nav'] {
	color: #444444;
}

input {
	--typeface-name: 'body';
	font-family: monospace;
	font-size: 24px;
}

l-progressmodal {
	& circle {
		stroke: #ff0000;
		transition: stroke-dasharray 10s;
	}
}

[is='l-transitiontest'] {
	background: #ff0000;
	height: 100px;
	width: 100px;
}

[is='l-indexpage'] h1 {
	color: red;
}
