[is='l-indexpage'] {
	._bounce {
		animation: bounce 3.0100000000000002s infinite;
		aspect-ratio: 1;
		background: red;
		border-radius: 50%;
		display: block;
		position: relative;
		width: 100px;
	}
}

@keyframes bounce {
	0% {
		bottom: 0px
	}

	16.61% {
		bottom: 100px;
		animation-timing-function: ease-in
	}

	26.58% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	36.54% {
		bottom: 60px;
		animation-timing-function: ease-in
	}

	42.52% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	48.5% {
		bottom: 36px;
		animation-timing-function: ease-in
	}

	52.16% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	55.81% {
		bottom: 21.6px;
		animation-timing-function: ease-in
	}

	58.14% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	60.47% {
		bottom: 12.96px;
		animation-timing-function: ease-in
	}

	61.79% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	63.12% {
		bottom: 7.78px;
		animation-timing-function: ease-in
	}

	63.79% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	64.45% {
		bottom: 4.67px;
		animation-timing-function: ease-in
	}

	64.78% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	65.12% {
		bottom: 2.8px;
		animation-timing-function: ease-in
	}

	65.45% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	65.78% {
		bottom: 1.68px;
		animation-timing-function: ease-in
	}

	66.11% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	66.45% {
		bottom: 1.01px;
		animation-timing-function: ease-in
	}

	66.78% {
		bottom: 0px;
		animation-timing-function: ease-out
	}

	100% {
		bottom: 0
	}
}
