:root {
	--fontBase_family: monospace;
	--fontBase_size: 24;
	--phone: 600;
	--tablet: 1000;
	--typeface-name: 'body';
	font-family: monospace;
	font-size: 24px;
}

.type-body {
	font-family: monospace;
	font-size: 24px;
}

.type-h1 {
	color: darkgreen;
}

.type-h2 {
	color: blue;
}

h1 {
	--typeface-name: 'h1';
	color: darkgreen;

	@media (width > 600px) and (width < 999px) {
		color: orange !important;
	}
}

*:target {
	outline: 1px solid red;
}

[is='l-modalcontainer'] {
	align-items: center;
	backdrop-filter: blur(5px);
	background: #00000060;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.2s;
	width: 100%;

	&[data-modal='entering'],
	&[data-modal='active'] {
		opacity: 1;
	}
}
